<% action = dog.persisted? ? dog_url(dog) : dogs_url %>
<% method = dog.persisted? ? :patch : :post %>

<form class="" action="<%= action %>" method="<%= method %>">
  <input type="hidden" name="_method" value="method">

  <label for="dog_name">Name: </label>
  <input type="text" name="dog[name]" value="<%= action == :edit ? dog.name : "" %>">

  <label for="dog_birth_date">Birth Date: </label>
  <input type="date" name="dog[birth_date]" value="<%= action == :edit ? dog.birth_date : "" %>">

  <label for="color">Color: </label>
  <select class="" name="dog[color]">
    <% Dog::DOG_COLORS.each do |color| %>
      <option
        <%= dog.color == color ? "selected" : "" %>
        value="<%= color %>"><%= color %></option>
    <% end %>
  </select>

  <input type="radio" name="dog[sex]" value="F" <%= dog.sex == "F" ? "checked" : "" %> >
  <label for="dog_sex_female">Female</label>
  <input type="radio" name="dog[sex]" value="M" <%= dog.sex == "M" ? "checked" : "" %> >
  <label for="dog_sex_male">Male</label>

  <label for="dog_breed">Breed: </label>
  <input type="text" name="dog[breed]" value="<%= action == :edit ? dog.breed : "" %>">

  <label for="dog_description">Description: </label>
  <textarea name="dog[description]" rows="5" cols="40"><%= action == :edit ? dog.description : "" %></textarea>

  <input type="submit" name="" value="<%= action == :edit ? "Edit" : "Create" %> dog!">
</form>
