<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NinetyNineCats</title>
  </head>
  <body>
    <h1>99 Dogs</h1>

    <h2> <%= @dog.name %> </h2>

    <table>
      <tr>
        <th>Attribute</th>
        <th>Value</th>
      </tr>
      <tr>
        <td>AGE</td>
        <td> <%= @dog.age %> </td>
      </tr>
      <tr>
        <td>BIRTH_DATE</td>
        <td> <%= @dog.birth_date %> </td>
      </tr>
      <tr>
        <td>COLOR</td>
        <td> <%= @dog.color %> </td>
      </tr>
      <tr>
        <td>BREED</td>
        <td> <%= @dog.breed %> </td>
      </tr>
      <tr>
        <td>SEX</td>
        <td> <%= @dog.sex %> </td>
      </tr>
      <tr>
        <td>DESCRIPTION</td>
        <td> <%= @dog.description %> </td>
      </tr>
    </table>
  </body>
</html>
